
<div class="weui-tabbar">
    <a href="<?php echo base_url(); ?>" class="weui-tabbar__item">
        <div class="weui-tabbar__icon">
            <img src="<?php echo base_url('images/icon_nav_button.png'); ?>" alt="">
        </div>
        <p class="weui-tabbar__label">首页</p>
    </a>
    <a href="<?php echo base_url('home/cart'); ?>" class="weui-tabbar__item weui-bar__item-on">
        <div class="weui-tabbar__icon">
            <img src="<?php echo base_url('images/icon_nav_msg.png'); ?>" alt="">
        </div>
        <p class="weui-tabbar__label">购物车</p>
    </a>
    <a href="<?php echo base_url('home/news'); ?>" class="weui-tabbar__item">
        <span class="weui-badge" style="position: absolute;top: -.4em;right: 1em;">1</span>
        <div class="weui-tabbar__icon">
            <img src="<?php echo base_url('images/icon_nav_article.png'); ?>" alt="">
        </div>
        <p class="weui-tabbar__label">通知</p>
    </a>
    <a href="<?php echo base_url('user/index'); ?>" class="weui-tabbar__item">
        <div class="weui-tabbar__icon">
            <img src="<?php echo base_url('images/icon_nav_cell.png'); ?>" alt="">
        </div>
        <p class="weui-tabbar__label">账户</p>
    </a>
</div>
