<!DOCTYPE html>
<html>
    <head>
        <title>社会化诚信</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

        <meta name="description" content="社会化诚信">

        <link rel="stylesheet" href="../lib/weui.min.css">
        <link rel="stylesheet" href="../css/jquery-weui.css">
        <link rel="stylesheet" href="../css/demos.css">

    </head>

    <body ontouchstart>


        <header class='demos-header'>
            <h1 class="demos-title">登录</h1>
        </header>

        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">手机号</label>
                </div>
                <div class="weui-cell__bd">
                    <input id="phone" class="weui-input" type="tel" placeholder="请输入手机号">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">密码</label></div>
                <div class="weui-cell__bd">
                    <input id="password" class="weui-input" type="password" placeholder="请输入密码">
                </div>
            </div>
        </div>

        <div class="weui-btn-area">
            <a class="weui-btn weui-btn_primary" href="javascript:" id="login-btn">确定</a>
            <a class="weui-btn weui-btn_default" href="register">尚无账号，去注册</a>
        </div>

        <script src="../lib/jquery-2.1.4.js"></script>
        <script src="../lib/fastclick.js"></script>
        <script>
            $(function() {
                FastClick.attach(document.body);
            });
        </script>
        <script src="../js/jquery-weui.js"></script>
        <script src="../js/sha256.js"></script>
        <script>
            $("#login-btn").click(function() {
                var phone = $("#phone").val();
                var password = $("#password").val();

                if(!phone || !/1[3|4|5|7|8]\d{9}/.test(phone)) {
                    $.toptip('请输入手机号');
                }else if(!password) {
                    $.toptip('请输入密码');
                }else {
                    $.ajax({
                        url: "../api/v1/user/login",
                        type: "POST",
                        data: {'phone':phone,'password':sha256_digest(password)},
                        success: function(data) {
                            if(data==1) {
                                $.toptip("登录成功", "success");
                                window.location.href="<?php echo $success_url; ?>";
                            }else {
                                $.toptip("登录失败");
                            }
                        }
                    });
                }
            });

        </script>
    </body>
</html>
