 .point{
        width: 100%;
        background: #f5e8e8;
      }

      .point p:first-child{
       
        text-align: center;
        font-size: 20px;
        margin-bottom: 20px;
        
      }
      .point p{
        text-align: center;
        font-size: 12px;
      }
      .point-score{
        padding-bottom: 10px;
      }
      .point-score button{
        width:140px;
        height:40px;
        line-height:40px;
        text-align:center;
        color:#fff;
        border:none;
        border-radius:8px;
        background:#558dcc;
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        
      }

      .introduce{
        margin-top: 20px;
      }
      
      .score-logo {
        display: flex;
        flex-wrap: wrap;
        margin: 10px auto;
        padding-bottom: 20px;
      }

      .score-item {
        justify-content: center;
        align-items: center;
        padding: 4%;
        width: 80px;
        height: 20px;
      }

      .score-item p{
        text-align: center;
        font-size: 12px;
      }

      .up-score button{
        width:140px;
        height:40px;
        line-height:40px;
        text-align:center;
        color:#fff;
        border:none;
        border-radius:8px;
        background:#558dcc;
        display: block;
        margin: 0 auto;
        margin-top: 80px;
        
      }