.user-head{
        background: #ccc;
      }
.head-img{
  float: left;
  margin: 30px 40px;

}
.head-body{
  float: right;
  margin-top: 50px;
  margin-right: 82px;
}
.weui-cell__bd{

  margin-left: 20px;
}