<!DOCTYPE html>
<html>
    <head>
        <title>社会化诚信</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="description" content="社会化诚信">
        <link rel="stylesheet" href="../lib/weui.min.css">
        <link rel="stylesheet" href="../css/jquery-weui.css">
        <link rel="stylesheet" href="../css/demos.css">
    </head>

    <body ontouchstart>
        <div class="weui-tab">
            <div class="weui-tab__bd">
                <div id="tab1" class="weui-tab__bd-item">
                    <div class="swiper-container">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide"><img src="../images/swiper-1.jpg" /></div>
                            <div class="swiper-slide"><img src="../images/swiper-2.jpg" /></div>
                            <div class="swiper-slide"><img src="../images/swiper-3.jpg" /></div>
                        </div>
                        <!-- If we need pagination -->
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <div id="tab2" class="weui-tab__bd-item">
                </div>
                <div id="tab3" class="weui-tab__bd-item">
                </div>

                <div id="tab4" class="weui-tab__bd-item weui-tab__bd-item--active">

                    <header class='demos-header'>
                      <h1 class="demos-title">消费</h1>
                    </header>
                    <div class="page__bd">
                        <div class="weui-panel">
                            <div class="weui-panel__hd"></div>
                            <div class="weui-panel__bd">
                                <div class="weui-media-box weui-media-box_small-appmsg">
                                    <div class="weui-cells">
                                        <a class="weui-cell weui-cell_access" href="javascript:;">
                                            <div class="weui-cell__hd"><img src="../images/icon_blank.png" alt="" style="width:20px;margin-right:5px;display:block"></div>
                                            <div class="weui-cell__bd weui-cell_primary">
                                                <p>太平洋保险</p>
                                            </div>
                                            <span class="weui-cell__ft"></span>
                                        </a>
                                        <a class="weui-cell weui-cell_access" href="javascript:;">
                                            <div class="weui-cell__hd"><img src="../images/icon_blank.png" alt="" style="width:20px;margin-right:5px;display:block"></div>
                                            <div class="weui-cell__bd weui-cell_primary">
                                                <p>华联超市</p>
                                            </div>
                                            <span class="weui-cell__ft"></span>
                                        </a>
                                        <a class="weui-cell weui-cell_access" href="<?php echo base_url('Consume/detail'); ?>">
                                            <div class="weui-cell__hd"><img src="../images/icon_blank.png" alt="" style="width:20px;margin-right:5px;display:block"></div>
                                            <div class="weui-cell__bd weui-cell_primary">
                                                <p>物美商城</p>
                                            </div>
                                            <span class="weui-cell__ft"></span>
                                        </a>
                                        <a class="weui-cell weui-cell_access" href="javascript:;">
                                            <div class="weui-cell__hd"><img src="../images/icon_blank.png" alt="" style="width:20px;margin-right:5px;display:block"></div>
                                            <div class="weui-cell__bd weui-cell_primary">
                                                <p>在线交税</p>
                                            </div>
                                            <span class="weui-cell__ft"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <?php $this->load->view('Common/tabbar.html'); ?>
        </div>

        <script src="../lib/jquery-2.1.4.js"></script>
        <script src="../lib/fastclick.js"></script>
        <script>
            $(function() {
                FastClick.attach(document.body);
            });
        </script>
        <script src="../js/jquery-weui.js"></script>
        <script src="../js/swiper.js"></script>
        <script>
            $(".swiper-container").swiper({
                loop: true,
                autoplay: 3000
            });
        </script>
    </body>
</html>
