<!DOCTYPE html>
<html>
    <head>
        <title>美力泉</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="description" content="美力泉">
        <link rel="stylesheet" href="../lib/weui.min.css">
        <link rel="stylesheet" href="../css/jquery-weui.css">
        <link rel="stylesheet" href="../css/demos.css">
        <style>
            .swiper-container {
                width: 100%;
            } 
            .swiper-container img {
                display: block;
                width: 100%;
            }
        </style>
    </head>

    <body ontouchstart>

        <div class="weui-tab">
            <div class="weui-tab__bd">
                <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
                    <div class="swiper-container">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide"><img src="./images/swiper-1.jpg" /></div>
                            <div class="swiper-slide"><img src="./images/swiper-2.jpg" /></div>
                            <div class="swiper-slide"><img src="./images/swiper-3.jpg" /></div>
                        </div>
                        <!-- If we need pagination -->
                        <div class="swiper-pagination"></div>
                    </div>
                    <?php foreach($products as $key=>$product) { ?>
                    <?php if($key%2==1) continue; ?>
                    <div class="weui-flex" style="width: 100%;">
                        <div class="weui-flex__item" style="width: 40%;">
                            <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                                <div class="weui-media-box__hd">
                                    <img class="weui-media-box__thumb" src="<?php echo $product->head_img; ?>" alt="">
                                </div>
                                <div class="weui-media-box__bd">
                                    <h4 class="weui-media-box__title"><?php echo $product->name; ?></h4>
                                    <p class="weui-media-box__desc">价格：￥<?php echo $product->price; ?></p>
                                </div>
                            </a>
                        </div>
                        <?php if(isset($products[$key+1])) { ?>
                        <?php $product = $products[$key+1]; ?>
                        <div class="weui-flex__item">
                            <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                                <div class="weui-media-box__hd">
                                    <img class="weui-media-box__thumb" src="<?php echo $product->head_img; ?>" alt="">
                                </div>
                                <div class="weui-media-box__bd">
                                    <h4 class="weui-media-box__title"><?php echo $product->name; ?></h4>
                                    <p class="weui-media-box__desc">价格：￥<?php echo $product->price; ?></p>
                                </div>
                            </a>
                        </div>
                        <?php } ?>
                    </div>
                    <?php } ?>
                </div>
                <div id="tab2" class="weui-tab__bd-item">
                </div>
                <div id="tab3" class="weui-tab__bd-item">
                </div>
                <div id="tab4" class="weui-tab__bd-item">
                </div>
            </div>

            <div class="weui-tabbar">
                <a href="<?php echo base_url(); ?>" class="weui-tabbar__item weui-bar__item-on">
                    <div class="weui-tabbar__icon">
                        <img src="<?php echo base_url('images/icon_nav_button.png'); ?>" alt="">
                    </div>
                    <p class="weui-tabbar__label">首页</p>
                </a>
                <a href="<?php echo base_url('home/cart'); ?>" class="weui-tabbar__item">
                    <div class="weui-tabbar__icon">
                        <img src="<?php echo base_url('images/icon_nav_msg.png'); ?>" alt="">
                    </div>
                    <p class="weui-tabbar__label">购物车</p>
                </a>
                <a href="<?php echo base_url('home/news'); ?>" class="weui-tabbar__item">
                    <span class="weui-badge" style="position: absolute;top: -.4em;right: 1em;">1</span>
                    <div class="weui-tabbar__icon">
                        <img src="<?php echo base_url('images/icon_nav_article.png'); ?>" alt="">
                    </div>
                    <p class="weui-tabbar__label">通知</p>
                </a>
                <a href="<?php echo base_url('user/index'); ?>" class="weui-tabbar__item">
                    <div class="weui-tabbar__icon">
                        <img src="<?php echo base_url('images/icon_nav_cell.png'); ?>" alt="">
                    </div>
                    <p class="weui-tabbar__label">账户</p>
                </a>
            </div>
        </div>

        <script src="../lib/jquery-2.1.4.js"></script>
        <script src="../lib/fastclick.js"></script>
        <script>
            $(function() {
                FastClick.attach(document.body);
            });
        </script>
        <script src="../js/jquery-weui.js"></script>
        <script src="../js/swiper.js"></script>
        <script>
            $(".swiper-container").swiper({
                loop: true,
                autoplay: 3000
            });
        </script>
    </body>
</html>
