<!DOCTYPE html>
<html>
    <head>
        <title>社会化诚信</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="description" content="美力泉">
        <link rel="stylesheet" href="../lib/weui.min.css">
        <link rel="stylesheet" href="../css/jquery-weui.css">
        <link rel="stylesheet" href="../css/demos.css">
    </head>

    <body ontouchstart>
        <div class="weui-tab">
            <div class="weui-tab__bd">
                <div id="tab1" class="weui-tab__bd-item">
                </div>
                <div id="tab2" class="weui-tab__bd-item">
                </div>
                <div id="tab3" class="weui-tab__bd-item weui-tab__bd-item--active">
                    <div class="page__bd">
                        <div class="weui-panel">
                            <div class="weui-search-bar" id="searchBar">
                                <form class="weui-search-bar__form">
                                    <div class="weui-search-bar__box">
                                        <i class="weui-icon-search"></i>
                                        <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索" required="">
                                        <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
                                    </div>
                                    <label class="weui-search-bar__label" id="searchText" style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">
                                        <i class="weui-icon-search"></i>
                                        <span>搜索</span>
                                    </label>
                                </form>
                                <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
                            </div>

                            <div class="weui-panel__bd">
                                <div class="weui-media-box weui-media-box_text">
                                    <h4 class="weui-media-box__title">通知二</h4>
                                    <p class="weui-media-box__desc">恭喜美力泉销售业绩总额突破50亿！</p>
                                    <ul class="weui-media-box__info">
                                        <li class="weui-media-box__info__meta">美力泉总部</li>
                                        <li class="weui-media-box__info__meta"><?php echo Date("Y-m-d H:i:s", time()); ?></li>
                                        <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">发布</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="weui-panel__bd">
                                <div class="weui-media-box weui-media-box_text">
                                    <h4 class="weui-media-box__title">通知一</h4>
                                    <p class="weui-media-box__desc">系统将于六月一号正式上线！</p>
                                    <ul class="weui-media-box__info">
                                        <li class="weui-media-box__info__meta">美力泉总部</li>
                                        <li class="weui-media-box__info__meta"><?php echo Date("Y-m-d H:i:s", time()-24*3600); ?></li>
                                        <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">发布</li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="tab4" class="weui-tab__bd-item ">
                </div>

            </div>

            <div class="weui-tabbar">
                <a href="<?php echo base_url(); ?>" class="weui-tabbar__item">
                    <div class="weui-tabbar__icon">
                        <img src="<?php echo base_url('images/icon_nav_button.png'); ?>" alt="">
                    </div>
                    <p class="weui-tabbar__label">首页</p>
                </a>
                <a href="<?php echo base_url('home/cart'); ?>" class="weui-tabbar__item">
                    <div class="weui-tabbar__icon">
                        <img src="<?php echo base_url('images/icon_nav_msg.png'); ?>" alt="">
                    </div>
                    <p class="weui-tabbar__label">购物车</p>
                </a>
                <a href="<?php echo base_url('home/news'); ?>" class="weui-tabbar__item weui-bar__item-on">
                    <span class="weui-badge" style="position: absolute;top: -.4em;right: 1em;">1</span>
                    <div class="weui-tabbar__icon">
                        <img src="<?php echo base_url('images/icon_nav_article.png'); ?>" alt="">
                    </div>
                    <p class="weui-tabbar__label">通知</p>
                </a>
                <a href="<?php echo base_url('user/index'); ?>" class="weui-tabbar__item">
                    <div class="weui-tabbar__icon">
                        <img src="<?php echo base_url('images/icon_nav_cell.png'); ?>" alt="">
                    </div>
                    <p class="weui-tabbar__label">账户</p>
                </a>
            </div>
        </div>

        <script src="../lib/jquery-2.1.4.js"></script>
        <script src="../lib/fastclick.js"></script>
        <script>
            $(function() {
                FastClick.attach(document.body);
            });
        </script>
        <script src="../js/jquery-weui.js"></script>
    </body>
</html>
